<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <title>A Fast Learner | Inkyu-Kim</title>
  <meta name="description" content="데이터 사이언티스트를 지향하는 데이터 엔지니어가 되고싶은 사람">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#F5F5F5">
  <link rel="canonical" href="https://inkkim.github.io/about.html" />

  <meta property="og:type" content="website">
  <meta property="og:title" content="A Fast Learner | Inkyu-Kim">
  <meta property="og:image" content="https://user-images.githubusercontent.com/60086878/95056968-6fc5f100-0730-11eb-8359-b6f389b8c468.jpeg">
  <meta property="og:description" content="데이터 사이언티스트를 지향하는 데이터 엔지니어가 되고싶은 사람">
  <meta property="og:url" content="http://inkkim.github.io">

  <meta name="twitter:title" content="A Fast Learner | Inkyu-Kim"> 
  <meta name="twitter:description" content="데이터 사이언티스트를 지향하는 데이터 엔지니어가 되고싶은 사람">
  <meta name="twitter:image" content="https://user-images.githubusercontent.com/60086878/95056968-6fc5f100-0730-11eb-8359-b6f389b8c468.jpeg">
  <meta name="twitter:card" content="summary_large_image">

  <link rel="preload" href="../src/scss/init.scss" as="style">
  <link rel="preload" href="../src/scss/about.scss" as="style">

  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../src/scss/init.scss">
  <link rel="stylesheet" href="../src/scss/about.scss">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179600475-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-179600475-1');
  </script>
</head>

<body>
  <header id="top-container" role="navigation">
  </header>

  <main id="main-container">
    <section id="about-container">
      <section>
        <ul>
          <li>
            <a href="mailto:sda1547@gmail.com">sda1547@gmail.com</a>
            <%#<a href="https://inkkim.github.io">resume</a>%>
            <a href="https://github.com/inkkim">github</a>
          </li>
          <%#<li>
            <a href="https://facebook.com/emobully">facebook</a>
            <a href="https://linkedin.com/in/parksb">linkedin</a>
          </li>%>
        </ul>
      </section>

      <section>
        <p>
          데이터 사이언티스트를 지향하는 데이터 엔지니어가 되고싶은 사람
        </p>
      </section>

      <section>
        <details>
          <summary><h2>Education</h2></summary>
          <ul>
            <li type = 'disc'>
              2020. 01. 20 ~ 2020. 02. 14 <strong><a href="https://42seoul.kr/about">42 Seoul La Piscine</a></strong>
            </li>
            <li type = 'disc'>
              2020. 06. 15 ~ 2020. 12. 04 <strong><a href="https://playdata.io">엔코아 데이터 과학자 양성과정</a></strong>
            </li>
          </ul>
        </details>
      </section>

      <section>
        <details>
        <summary><h2>Skill</h2></summary>
          <ul>
            <li type = 'disc'>프로그래밍 언어는 <strong>Python</strong>을 주력으로 하며, 
            <strong>SQL</strong>과 <strong>R</strong>을 다룰줄 압니다.</li>
            <li type = 'disc'>데이터 분석 인프라 구축 경험
              <ul>
                <li type = 'circle'>
                  <strong>AWS EC2</strong> 환경에서 <strong>Hadoop</strong>을 구축해본 경험이 있으며, 
                  Hadoop Ecosystem으로 <strong>Spark</strong>와 <strong>Hive</strong>를 설치하여
                  운용해본 경험이 있습니다.
                </li>
                <li type = 'circle'>
                  <strong>Docker</strong>를 이용하여 원하는 이미지를 만들거나 사용할 수 있습니다.
                </li>
              </ul>
            </li>
            <li type = 'disc'>Web상에서 원하는 정보를 수집하기 위해 <strong>Requests</strong>, <strong>BeautifulSoup</strong> 그리고 <strong>Selenium</strong>을 이용한 
              자동 Web Scraper를 자유자재로 제작할 수 있습니다. (아름다운 Web 질서를 위하여 <strong>Robots.txt</strong>를 준수합니다.)</li>
          </ul>
        </details>
      </section>
    </section>
  </main>

  <script defer src="../src/ts/init.ts"></script>
</body>

</html>
