<nav>
  <a class="logo-link" href="/">
    <h1><%- blogTitle %></h1>
    <span><%- blogSubtitle %></span>
  </a>

  <small>
      <a id="about" class="info-link" href="/about.html">👀  About</a>
      <a id="works" class="info-link" href="/works.html">🔥  Works</a>
      <a id="articles" class="info-link" href="/articles.html">📄  Articles</a><br>
      <a id="mail" class="info-link" href="mailto:sda1547@gmail.com"><img src="../assets/Gmail Logo.png" alt="Gmail Link" style="width:15px; height:15px;">  Mail</a>
      <a id="gitbook" class="info-link" href="https://sda1547.gitbook.io/data-engineering/"><img src="../assets/GitBook Logo.jpg" alt="GitBook Link" style="width:15px; height:15px;">  GitBook</a>
      <a id="github" class="info-link" href="https://github.com/inkkim"><img src="../assets/GitHub Logo.png" alt="GitHub Link" style="width:15px; height:15px;">  GitHub</a>
    
  </small>
</nav>